@charset "UTF-8";

@media all and (max-width:1150px){
    #wrap #main #section4  .container {padding:0 15px;}
    #wrap #main #section4  .container .left  {width:23.273%;}
    #wrap #main #section4  .container .left img {width:68.750%;}
    #wrap #main #section4  .container .right {width:76.727%;}
}
@media all and (max-width:1100px){
    /* 수정할 속성만 두고 나머지는 상속(style.css에서지정한 내용 그대로) 단 여기서
    수정한 내용은 여기 수정 내용이 우선이다. */
    #wrap #header .container .right {float:right;width:auto;}

    /* 섹션1 비율계산 - 그리드방식(100분율) */
    /* 높이는 top bottom 비율계산 기준이되고(수직)
    너비는 width left right 비율계산 기준된다.(수평) */
    
    #wrap #header .container {padding:0 15px;}

    #wrap #main #section1 .container .ani1 {top:8.634%;left:2.636%;width:25.636%}
    #wrap #main #section1 .container .ani2 {bottom:13.030%;left:7.727%;width:51.545%;}  
    #wrap #main #section1 .container .ani3 {bottom:31.083%;left:38.909%;width:44.727%;}
    #wrap #main #section1 .container .ani4 {bottom:17.582%;left:78.909%;width:28.636%;}
    #wrap #main #section1 .container .ani5 {top:34%;left:9%;width:125px;height:38px;}

    #wrap #main #section2 .container {padding:0 15px;}

    #wrap #main #section4  .container .left  {width:20%;}
    #wrap #main #section4  .container .left img {width:80%;}
    #wrap #main #section4  .container .right {width:80%;}
}

@media all and (max-width:1025px){
    #wrap #main #section4 {height:auto;}

    #wrap #main #section4  .container .left  {width:45%;}
    #wrap #main #section4  .container .left img {width:80%;}
    #wrap #main #section4  .container .right {width:55%;}
    
    #wrap #main #section4  .container .right .top div {display:block;}
    #wrap #main #section4  .container .right .top div span {display:block; margin:auto auto auto 0;padding:20px 0 0 0;}

    #wrap #main #section4  .container .right .top div h3 {line-height:140%;}
    
    #wrap #main #section4  .container .right .top div h3.pc {display:none;}
    #wrap #main #section4  .container .right .top div h3.mo {display:block;}

    #wrap #main #section4  .container .right .top h2 span {display:block;}

    #wrap #main #section4  .container .right .bottom {padding:25px 0 0 0;display:block;}
    
    #wrap #main #section4  .container .right .bottom span {margin:0 auto 0 0;display:block;}

    #wrap #main #section4  .container .right .bottom h4 {line-height:140%;padding:0 0 20px 0;}

    #wrap #main #section4  .container .right .bottom h4.pc {display: none;}
    #wrap #main #section4  .container .right .bottom h4.mo {display: block;letter-spacing:-1px;}
}

@media all and (max-width:960px){
    #wrap #header {height:70px;border-top:0;}
    #wrap #header .container {padding:0;}    
    #wrap #header .container .left  {width:45px;margin-left:10px;}
    #wrap #header .container .left h1 {line-height:62px;} /* 실제 테두리 빼고 내부 높이 120 */
    #wrap #header .container .left h1 a img {width:100%;}

    #wrap #header .container .right .top {display:none;}
    #wrap #header .container .right .bottom {display:none;}
    #wrap #header .container .right .mobile {display: block;}

    #wrap #main {margin:70px 0 0 0;}  
    #wrap #main #section1 {height:600px;}
    
    #wrap #main #section1 .container .ani5 {top:32%;left:8%;width:125px;height:38px;}
    #wrap #main #section2 {height:80px;}
    #wrap #main #section2 .container .left .left-box .notice-more {height:80px;}


    /* 메인슬라이드 */
    #wrap #main #section3 {height:auto;padding:25px 0;}
    #wrap #main #section3 .container .slide-container .slide-view {width:100%;height:auto;}
    #wrap #main #section3 .container .slide-container .slide-view .slide-wrap {width:500%;height:auto;}
    #wrap #main #section3 .container .slide-container .slide-view .slide-wrap .slide {width:100%;height:auto;}
    #wrap #main #section3 .container .slide-container .slide-view .slide-wrap .slide div {margin:0 5px;height:auto;}
    #wrap #main #section3 .container .slide-container .slide-view .slide-wrap .slide div img {width:100%;height:auto;}


}


@media all and (max-width:800px){
    #wrap #main #section1 {height:520px;}
    #wrap #main #section1 .container .ani5 {top:31%;left:7%;width:125px;height:38px;}

    #wrap #main #section5  .container {padding:0 15px;}
    #wrap #main #section5  .container .left  {width:40%;}
    #wrap #main #section5  .container .left img {width:360px;margin:auto 0 auto auto;}

    #wrap #main #section5  .container .right {width:60%;}
    #wrap #main #section5  .container .right span {margin:auto auto auto 0;}
    #wrap #main #section5  .container .right span img {width:100%;max-width:405px;}
}



@media all and (max-width:660px){
    #wrap #main #section2 {height:220px;background-image:linear-gradient(to bottom, #000 0%, #000 50%, #f6f5ef 50%, #f6f5ef 100%);}
    #wrap #main #section2 .container {margin:0 auto;display:flex;flex-flow:column nowrap;}
    #wrap #main #section2 .container .left {width:100%;height:50%;}    
    #wrap #main #section2 .container .right {width:100%;height:50%;}
    #wrap #main #section2 .container .left .left-box .notice-list {position:relative;z-index:1;}
    #wrap #main #section2 .container .left .left-box .notice-more {right:0;height:100%;z-index:2;}
    #wrap #main #section2 .container .right .promotion {margin:auto;}



    #wrap #main #section2 .container .left .left-box .notice-title h2 {background-image:url(../img/icon_board_speaker.png);background-size:auto 24px;}
}


@media all and (max-width:640px){
    #wrap #main #section1 {padding:9.375%  0;}
    #wrap #main #section1 .container .ani  {position:relative;left:0;top:0;margin:9.375%  auto;} 
    #wrap #main #section1 {height:auto;}   
    #wrap #main #section1 .container .ani1 {width:50%;}
    #wrap #main #section1 .container .ani2 {width:100%;margin-left:4.688%;}  
    #wrap #main #section1 .container .ani3 {width:85%;}
    #wrap #main #section1 .container .ani4 {width:60%;margin-left:23.438%;}
    #wrap #main #section1 .container .ani5 {width:125px;height:38px;}

    #wrap #main #section4  .container {display:block;text-align:center;}
    #wrap #main #section4  .container .left  {width:100%;padding:0 0 50px 0;}
    #wrap #main #section4  .container .left img {width:50%;min-width:200px;}
    #wrap #main #section4  .container .right {width:100%;}

    #wrap #main #section4  .container .right .top h2 {font-size:24px;}
    #wrap #main #section4  .container .right .top div h3.mo {font-size:15px;}
    #wrap #main #section4  .container .right .bottom h4.mo {font-size:12px;}

    #wrap #main #section5 {height:auto;text-align:center;padding:7.375% 0;}
    #wrap #main #section5  .container {display:block;}
    #wrap #main #section5  .container .left  {width:100%;}
    #wrap #main #section5  .container .left img {width:57%;margin:0 auto;transform:translateX(60px);}
    #wrap #main #section5  .container .right {width:100%;}
    #wrap #main #section5  .container .right span {display:block;margin:0;text-align:center;width:100%;padding:7.813% 0 0 0;}
    #wrap #main #section5  .container .right span img.pc {display:none;}
    #wrap #main #section5  .container .right span img.mo {display:block;margin:0 auto;width:70%;}

    #wrap #main #section5  .container .right span a {margin:6.250% auto 0 auto;}
}

@media all and (max-width:500px){
    #wrap #main #section1 {padding:50px 0;}
    #wrap #main #section1 .container .ani  {margin:40px auto;}     
    #wrap #main #section1 .container .ani1 {width:50%;}
    #wrap #main #section1 .container .ani2 {width:100%;}  
    #wrap #main #section1 .container .ani3 {width:95%;}
    #wrap #main #section1 .container .ani4 {width:70%;}
    #wrap #main #section1 .container .ani5 {width:125px;height:38px;}
}
@media all and (max-width:400px){
    #wrap #main #section4  .container .right .top div h3.mo {font-size:13px;}
    #wrap #main #section4  .container .right .bottom h4.mo {font-size:14px;}

    #wrap #main #section5  .container .left img {width:57%;margin:0 auto;transform:translateX(40px);}
}



